@page "/company/statuses/{id:guid}"
@inherits CompanyStatusDetailsBase
<h3>CompanyStatusEdit</h3>

@if (CompanyStatus == null)
{
}
else
{
    <button class="btn btn-success sm"@onclick="() => SaveCompanyStatus_Click()">
        <i class="fa fa-save"></i>
    </button>
    <button class="btn btn-danger sm"@onclick="() => DeleteCompanyStatus_Click()">
        <i class="fa fa-save"></i>
    </button>
    <EditForm Model=@CompanyStatus>
        <label for="companyStatusName">Name</label>
        <input type="text" id="companyStatusName" @bind-value="@CompanyStatus.Name">
        <label for="companyStatusDescription">Description</label>
        <input type="text" id="companyStatusDescription" @bind-value="@CompanyStatus.Description"/>
    </EditForm>
}

@code {

}